.rtl {
	direction: rtl;
}

#license {
	font-size: 15px;
}

.featuredimage {
	width: 100%;
	display: block;
	margin: 0 0 1rem 0;
	border-radius: 0;
}

/* Uncomment if your content is RTL
.post {
	direction: rtl;
}

.sidebar {
	direction: rtl;
	text-align: right
}
*/
