  <meta content="{{ page.title }}" property="title" />
  <meta content="{{ page.title }}" property="og:title" />
  <meta content="{{ page.title }}" property="twitter:title" />
  <meta content="{{ site.description }}" name="description">
  <meta content="{{ site.description }}" property="og:description" />
  <meta content="{{ site.description }}" property="twitter:description" />
  <meta content="{{ site.author.name }}" name="author">
  <meta content="{{ site.options.image }}" name="image" />
  <meta content="{{ site.options.image }}" name="twitter:image:src" />
  <meta content="{{ site.options.image }}" name="og:image" />
